# Scrapping Exercises - Part 2 - 1

Using the selectors from the previous part, we created a spider which get all the information from polytechnique actu page.
We suggest you to run it through this notebook and to have a look to the produced data.

Your next challenge will be to write your own spider.

## 1. Making imports

In [3]:
# Imports
import os
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Set seaborn display
sns.set()

## 2. Running Spider (Brokan 39)

In [23]:
# Parameters for spider execution
file_path = '../scrapped_data/'
file_name = 'BK39_data3.jl'
spider_name = 'BROKAN'
path = file_path + file_name

# Check if file already exists
if file_name in os.listdir(file_path):
    _ = os.remove(path)

In [24]:
# Execution of spider
cmd1 = 'cd ../TA_scrapy/'
cmd2 = 'scrapy crawl {} -o {}'.format(spider_name, path)
cmd = cmd1 + ' && ' + cmd2
_ = os.system(cmd)

if _==0:
    print("Scrapping finished.")
else:
    print('Look at the bash to understand error.')

Scrapping finished.

In [25]:
# Function rto read jl file
def read_jl_file(file_name):
    values = []
    with open(file_name, 'rb') as f:
        line = '---'
        while len(line)>1:
            line = f.readline()
            values.append(line)
    values = values[:-1]
    values = [json.loads(i) for i in values]
    df = pd.DataFrame(values)
    return df

# Reading file
df_brokan = read_jl_file(path)

In [26]:
df_brokan

,Restaurant Name,Review ID,Date,Content,Rating
0,BOKAN 38 Bar & 39 Rooftop,731258294,November 2019,Went for a drink at the bar but was ignored by...,1.0
1,BOKAN 38 Bar & 39 Rooftop,730058592,August 2019,Perfect roof top bar in Canary Wharf for summe...,5.0
2,BOKAN 38 Bar & 39 Rooftop,742334709,February 2020,"Bokan is a 3 level rooftop bar, with a view ov...",5.0
3,BOKAN 38 Bar & 39 Rooftop,728349677,November 2019,I was reccomended this venue by a waiter in an...,5.0
4,BOKAN 38 Bar & 39 Rooftop,724684511,October 2019,Stayed in Novotel. Used Boken bar on 38th floo...,3.0
5,BOKAN 38 Bar & 39 Rooftop,727959956,November 2019,First waiting for a table at the entrance to s...,2.0
6,BOKAN 38 Bar & 39 Rooftop,731906126,December 2019,This was my first time visiting the Bokan havi...,5.0
7,BOKAN 38 Bar & 39 Rooftop,735164769,December 2019,We visited the bar in December 2019. Waiting f...,2.0
8,BOKAN 38 Bar & 39 Rooftop,723743170,November 2019,My wife and I celebrated our 1-year anniversar...,1.0
9,BOKAN 38 Bar & 39 Rooftop,740082393,January 2020,It's obvious most come for the views which are...,4.0
10,BOKAN 38 Bar & 39 Rooftop,700661937,August 2019,Stunning views from both inside and out. Busy ...,5.0
11,BOKAN 38 Bar & 39 Rooftop,731680592,October 2019,Me and my girlfriend went for couple of drinks...,5.0
12,BOKAN 38 Bar & 39 Rooftop,703074122,August 2019,I guess the main reason for visiting Bokan if ...,4.0
13,BOKAN 38 Bar & 39 Rooftop,708611677,September 2019,This wasn’t my first time at Bokan’s but this ...,2.0
14,BOKAN 38 Bar & 39 Rooftop,710680106,September 2019,"Ate here with friends from out of town, had be...",3.0
15,BOKAN 38 Bar & 39 Rooftop,713299145,September 2019,Worth the view. We popped in here for a drink ...,4.0
16,BOKAN 38 Bar & 39 Rooftop,717949140,September 2019,Visited here in Sept with my son so that we co...,5.0
17,BOKAN 38 Bar & 39 Rooftop,719884089,October 2019,The views to the city with the tower bridge an...,5.0
18,BOKAN 38 Bar & 39 Rooftop,715183063,September 2019,Went after work last few for couple of drinks ...,3.0
19,BOKAN 38 Bar & 39 Rooftop,721787500,July 2019,We loved it! Absolutely fabulous view. Service...,5.0
20,BOKAN 38 Bar & 39 Rooftop,682492047,June 2019,I absolutely love this place! I make sure I st...,5.0
21,BOKAN 38 Bar & 39 Rooftop,682132611,June 2019,Spotted this place whilst staying at neighbour...,5.0
22,BOKAN 38 Bar & 39 Rooftop,684542863,July 2018,"I arrived in an evening with friends, the view...",5.0
23,BOKAN 38 Bar & 39 Rooftop,699695135,August 2019,"I ve been for the first time there, nice view ...",2.0
24,BOKAN 38 Bar & 39 Rooftop,685661964,June 2019,I visited the Bar and rooftop for date night l...,4.0
25,BOKAN 38 Bar & 39 Rooftop,694224674,July 2019,"Although the menu is somewhat limited, with a ...",4.0
26,BOKAN 38 Bar & 39 Rooftop,687782962,July 2019,"Nice decor, friendly staff, great views, good ...",4.0
27,BOKAN 38 Bar & 39 Rooftop,690181494,July 2019,Stayed at the Novotel for the fourth time and ...,3.0
28,BOKAN 38 Bar & 39 Rooftop,695571146,August 2019,I went on a walk on Sunday evening and was not...,5.0
29,BOKAN 38 Bar & 39 Rooftop,699606818,August 2019,"We are staying at the hotel, had lunch here.",5.0
30,BOKAN 38 Bar & 39 Rooftop,677601416,May 2019,This place has a real buzz about it and some o...,4.0
31,BOKAN 38 Bar & 39 Rooftop,678843352,June 2019,The atmosphere here was lovely. The view was t...,5.0
32,BOKAN 38 Bar & 39 Rooftop,681411884,May 2019,"Both bars very nice, decor lovely, views amazi...",5.0
33,BOKAN 38 Bar & 39 Rooftop,679069080,June 2019,The place it's situated on the 38th floor of N...,4.0

In [27]:
df_brokan.to_csv(file_path+"Scraped_Brokan.csv")

## 2. Running the spider (ALL Resturants with at least 500 reviews on TA in London)

(The process might take over one minute if you remove the __"-a nb_article_max=100"__ to get all the articles)

In [17]:
# Parameters for spider execution
file_path = '../scrapped_data/'
file_name = 'all_data2.jl'
spider_name = 'ZQR'
path = file_path + file_name

# Check if file already exists
#if file_name in os.listdir(file_path):
#    _ = os.remove(path)

In [ ]:


# Execution of spider


cmd1 = 'cd ../TA_scrapy/'
cmd2 = 'scrapy crawl {} -o {} -a max_page=416 -a max_review=200 -a min_review=500'.format(spider_name, path)
cmd = cmd1 + ' && ' + cmd2
_ = os.system(cmd)

if _==0:
    print("Scrapping finished.")
else:
    print('Look at the bash to understand error.')

## 3. Reading scrapped data

In [5]:
# Function rto read jl file
def read_jl_file(file_name):
    values = []
    with open(file_name, 'rb') as f:
        line = '---'
        while len(line)>1:
            line = f.readline()
            values.append(line)
    values = values[:-1]
    values = [json.loads(i) for i in values]
    df = pd.DataFrame(values)
    return df

# Reading file
df = read_jl_file(path)

In [14]:
# Having a brief look at data
print(df.shape)

df2 = df.iloc[:10000,:]

(488413, 5)

In [15]:
df2

,Restaurant Name,Review ID,Date,Content,Rating
0,Madhu's,739447935,January 2020,The food was absolutely wonderful from prepara...,5.0
1,Madhu's,739773109,January 2020,The food was amazing. Our waiter Franco was ex...,5.0
2,Madhu's,738529074,January 2020,It was an awesome experience dining at the res...,5.0
3,Madhu's,739981237,January 2020,"Excellent service, excellent food and great am...",5.0
4,Madhu's,740251404,January 2020,Food was good cannot say too good but staff an...,4.0
...,...,...,...,...,...
9995,Bistro Benito,173256622,August 2013,"A little cramped, a little dated in decor, but...",4.0
9996,Bistro Benito,177905225,September 2013,"Good Italian food, and a great staff. The owne...",4.0
9997,Bistro Benito,180172952,September 2013,Maybe we visited on a bad night but I can't se...,2.0
9998,Bistro Benito,177699004,September 2013,We went after seeing other reviews while on a ...,4.0
9999,Bistro Benito,181944154,October 2013,Visited on an evening in favour of the chain I...,4.0

In [16]:
df2.to_csv(file_path+"Allresto.csv")